language: rust

rust:
    - nightly

before_install:
    - sudo add-apt-repository ppa:fkrull/deadsnakes -y
    - sudo apt-get update -q

install:
    - sudo apt-get install -y python3.4 python3.4-dev
    - wget https://bootstrap.pypa.io/get-pip.py
    - sudo python3.4 get-pip.py
    - rm get-pip.py
    - sudo python3.4 -m pip --upgrade
    - sudo python3.4 -m pip install passlib
    - sudo python3.4 -m pip install jsonschema
    - sudo python3.4 -m pip install pycrypto

script:
    - bash tools/build.sh test --travis --release
    - cargo clean
    - bash tools/build.sh build --release --verbose
    - sudo bash tools/build.sh install

after_script:
    - theca -v
    - theca -y new-profile
    - theca add "this is a note"
    - theca add "this is a note with a status" -s
    - theca add "this is a note with a body" -b "yurp..."
    - theca add "everything" -b "mhm" -u
    - echo "from stdin" | theca add "body" -
    - theca
